.contact-section {
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.contact-title {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: end;
}
.form-container {
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.form {
  background: rgb(46, 46, 46);
  padding: 15px 20px;
  border-radius: 10px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form > label {
  color: var(--title-color);
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
}
.form > input,
textarea {
  background-color: #1d1d1d;
  color: var(--text-color);
  font-size: 1rem;
  border-radius: 10px;
  padding: 6px 12px;
}
#submit {
  margin-top: 8px;
  background-color: #26e6c6;
  cursor: pointer;
  border: 1px solid #26e6c6;
  color: #1d1d1d;
  transition: 1s;
}
#submit:hover {
  background-color: #1d1d1d;
  color: #26e6c6;
  border: 1px solid #26e6c6;
}

@media screen and (min-width: 950px) {
  .contact-section {
  }
}
