.about-section {
  min-height: 100vh;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
}
.about-text {
  margin-top: 100px;
  padding: 0 40px;
}
.svg-photo-container {
  position: relative;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
}
.about-image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.about-image {
  height: 250px;
  margin: auto;
}
.photo {
  position: absolute;
  left: 56%;
  top: 40%;
  transform: translate(-50%, -50%) rotate(5deg);
  width: 230px;
  /* height: auto; */
  border-radius: 50%;
}

@media screen and (min-width: 950px) {
  .about-section {
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: row;
    margin: 30px 100px;
  }
  .about-text,
  .about-image-container {
    width: 50%;
    display: flex;
    justify-content: center;

    flex-direction: column;
  }
  .about-image-container {
    align-items: center;
    order: 1;
  }
  .about-text {
    order: 2;
  }

  .svg-photo-container {
    position: relative;
    width: 310px;
    height: 320px;
  }
  .about-image {
    height: 350px;
    margin: auto;
  }
  .photo {
    width: 350px;
    height: auto;
    position: absolute;
    left: 60%;
    border-radius: 50%;
  }
}
