.about-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.about-text {
  margin-top: 100px;
  padding: 0 40px;
}
.svg-photo-container {
  position: relative;
  width: 90vw;
  max-height: 392;
  display: flex;
  justify-content: center;
}
.photo-container {
  width: 200px;
  height: 200px;
  /* transform: rotate(36deg);
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%); */
  border: 4px solid #26e6c6;
  overflow: hidden;
  transform: rotate(50deg);
  border-radius: 70% 40% 85% 50%;
}
.about-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.photo {
  position: absolute;
  left: 54%;
  bottom: -40%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 280px;
  height: auto;
  border-radius: 30%;
}

@media screen and (min-width: 950px) {
  .about-section {
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: row;
    margin: 30px 100px;
  }
  .about-text,
  .about-image-container {
    width: 50%;
    display: flex;
    justify-content: center;

    flex-direction: column;
  }
  .about-image-container {
    align-items: center;
    order: 1;
  }
  .about-text {
    order: 2;
  }

  .svg-photo-container {
    position: relative;
    width: 420px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .photo-container {
    width: 60%;
    height: 60%;
    border: 4px solid #26e6c6;
  }

  .photo {
    width: 350px;
    height: auto;
    position: absolute;
    left: 55%;
    bottom: -35%;
    border-radius: 50%;
  }
}
