.about-section {
  height: 140vh;
  display: flex;
  flex-direction: column;
}
.about-text {
  margin-top: 100px;
  padding: 0 40px;
}
.svg-photo-container {
  position: relative;
  width: 90vw;
  max-height: 392;
  display: flex;
  justify-content: center;
}
.about-image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.about-image {
  height: 250px;
  margin: auto;
}
.photo {
  position: absolute;
  left: 54%;
  bottom: -10%;
  transform: translate(-50%, -50%) rotate(5deg);
  width: 70vw;
  height: auto;
  border-radius: 30%;
}

@media screen and (min-width: 950px) {
  .about-section {
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: row;
    margin: 30px 100px;
  }
  .about-text,
  .about-image-container {
    width: 50%;
    display: flex;
    justify-content: center;

    flex-direction: column;
  }
  .about-image-container {
    align-items: center;
    order: 1;
  }
  .about-text {
    order: 2;
  }

  .svg-photo-container {
    position: relative;
    width: 420px;
    height: 500px;
  }
  .about-image {
    height: 350px;
    margin: auto;
  }
  .photo {
    width: 350px;
    height: auto;
    position: absolute;
    left: 55%;
    bottom: -5%;
    border-radius: 50%;
  }
}
