.skills-section {
  margin-top: 0;
  min-height: 150vh;
  margin: 150px 15px;
}
.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  grid-gap: 0.6rem;
}

.skill-item {
  background-color: rgb(212, 212, 212);
  border-radius: 10px;
  text-align: center;
  transition: 1.5s;
}
.skill-item:hover {
  background-color: rgba(67, 67, 67);
}
.skills-logo {
  width: 3rem;
  height: auto;
}

@media screen and (min-width: 950px) {
  .skills-section {
    margin: 150px 150px;
  }
  .skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 0.6rem;
    text-align: center;
  }
  .title-icon {
    text-align: center;
  }
  .skills-logo {
    width: 5rem;
    height: auto;
  }
}
