.social-container {
  display: flex;
  justify-content: center;
  column-gap: 25px;
}
.social-media {
  display: inline-flex;
  width: 40px;
  height: 40px;
  text-decoration: none;
  font-size: 26px;
  color: #26e6c6;
  border-radius: 50%;
  outline: 2px solid #26e6c6;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
}

.social-media:hover {
  outline-offset: 4px;
}
.social-media i {
  margin: auto;
}
.social-media:hover {
  animation: shake 0.55s;
}

@keyframes shake {
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
}

@media screen and (min-width: 950px) {
  .social-container {
    position: relative;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, -50%);
  }
}
